AWS_REGION=""
BACKEND_PORT="4000"
COGNITO_CLIENT_ID=""
COGNITO_USERPOOL_ID=""
DATABASE_URL="postgresql://user:password@localhost:5432/dbname" # Local dev only
FRONTEND_URL="http://localhost:3000"
NODE_ENV="development"
S3_BUCKET_NAME=""
SENTRY_DSN=""
