AWS_REGION=""
BACKEND_INTERNAL_URL="http://localhost:4000/api/v1"
BASE_URL="http://localhost:3000"
COGNITO_CLIENT_ID=""
COGNITO_DOMAIN=""
COGNITO_USERPOOL_ID=""
CONTACT_TO_EMAIL=""
FROM_EMAIL=""
RESEND_API_KEY=""
SENTRY_DSN=""
SESSION_SECRET="" # Generate with: openssl rand -base64 32